<div class='{{navigationClass}}'>
  <div class='navigation-bar--navigation-home'>
    <div routerLink="/home">
      <img src="../../assets/chalkboard-logo.jpg" alt="">
    </div>
  </div>
  <a routerLink="/classroom" data-content='Classroom' routerLinkActive="active">
    Classroom
  </a>
  <a routerLink="/lesson-schedule" data-content='Lessons' routerLinkActive="active">
    Lessons
  </a>
  <a routerLink="/table" data-content='Agenda' routerLinkActive="active">
    Agenda
  </a>
  <a routerLink="/about" data-content='About' routerLinkActive="active">
    About
  </a>
  <!-- <div class='navigation-bar--toggle' (click)='toggle()'><img src="../../assets/menu.png" alt=""> -->
  <!-- </div> -->
</div>
