@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Cormorant+SC&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #2c6b65;
  --danger-color: #de4747;
  --second-color: #7a575a;
  --light-color: #f0f0f0;
  --dark-color: #070805;
  --primary-font: 'Cormorant SC', serif;
  --secondary-font: 'Cormorant Infant', serif;
}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
}

button {
  cursor: pointer;
}

.icon,
i {
  cursor: pointer;
}
