<div class="container">
  <i (click)="pickStudentFormToggle()" >...</i>

  <div *ngIf="studentList">
    <div class="mask" (click)="pickStudentFormToggle()"></div>
    <app-form (studentEvent)='pickStudent($event)'></app-form>
  </div>

  <!-- <app-user></app-user> -->

  <div class="student-info" *ngIf="student; else noStudent">
    <i class='icon-delete' (click)='deleteStudent()'>X</i>
    <div class="student">
      <div>
        <img src="http://getdrawings.com/vectors/vector-profile-picture-2.png" alt="empty">
      </div>
      <div>
        <div class="name">{{student.name}}</div>
        <div class="averageGrade">
          <span>
            averageGrade:
          </span>
          <span>
            {{student.averageGrade}}
          </span>
        </div>
        <div class="averageGradeSecond">
          <span>
            averageGrade second decimal:
          </span>
          <span>
            {{student.averageGradeSecond}}
          </span>
        </div>
      </div>
    </div>
    <div class="student-table">
      <ul>
        <li *ngFor='let lesson of student.lessons; let i = index'>
          <span>
            {{i+1}}/ {{lesson.title}}
          </span>
          <span *ngIf='lesson.grade; else noGrade' [inner]='lesson.grade' GradeHighlight>
            {{lesson.grade}}
          </span>
          <ng-template #noGrade>
            <form (ngSubmit)='addGrade(lesson.id)' [formGroup]="formGrade">
              <input type='number' GradeHighlight formControlName='grade' min="1" max="5" />
              <button type="submit" [disabled]='formGrade.invalid'>add</button>
            </form>
          </ng-template>
        </li>
      </ul>

    </div>
  </div>

  <ng-template #noStudent>
    <p class="noStudent-text" (click)="pickStudentFormToggle()">...Choose a student</p>
  </ng-template>







</div>
